{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    // "plugin:prettier/recommended",
    // "plugin:prettier/@typescript-eslint",
    "prettier"
  ],
  // "overrides": [
  //   {
  //     // "files": ["**/*.js", "**/*.jsx"],
  //     "files": ["**/*.js"]
  //     // "rules": {
  //     //   "indent": "off",
  //     //   "prettier/prettier": "off"
  //     // }
  //   }
  // ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier",
    "react",
    "react-hooks",
    "simple-import-sort"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-sort-props": ["warn", { "reservedFirst": true }],
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sort-keys": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
